.product {
    margin: 1em;
    height: auto;
    margin-top: 2em;
    min-height: 500px;
}

.product_image {
    mix-blend-mode: multiply;
    filter: contrast(1);
}

.withshowBtn {
    margin-top: -1.5em;
    justify-content: center;
    display: flex;
}

.addToCart {
    width: 100%;
}

.addToCart:hover {
    color: #000000;
}

.product_title {
    font-size: 16px;
    color: #000000;
    opacity: 0.8;
}
.product_title:hover {
    opacity: 1;
}
.Link{
    text-decoration: none;
}
.product_content {
    justify-content: center;
    display: flex;
}



.product_price {
    color: #DB4444;
    font-size: 16px;
}

.left_icon {
    background: #DB4444;
    border-radius: 4px;

    text-align: center;
    color: #FAFAFA;
    margin-top: -2.7em;
    padding: 4px 12px;

    width: 55px;
    height: 26px;


    border-radius: 4px;
}

.new_icon {
    border-radius: 4px;

    text-align: center;
    color: #FAFAFA;
    margin-top: -2.7em;
    padding: 4px 12px;

    width: 55px;
    height: 26px;

    background: #00FF66;
    border-radius: 4px;
}
.actionButtons {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    justify-content: space-between;
}

.icon_button {
    border-radius: 17px;
    width: 34px;
    height: 34px;
    background: white;
}

.rating_box {
    column-gap: 0.5em;
    display: flex;
    align-items: center;
}

.rating_count {
    color: #000000;
    opacity: 0.5;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}