.grid {
  margin-left: 300px;
  margin-top: 300px;

  width: 600px;
  height: 700px;
}

.mainThumbnail {
  width: 400px;
  height: 600px;
  background: #F5F5F5;
  border-radius: 4px;
}

.mainImage{
  width: 446px;
  height: 297px;
  padding-top: 80px;
}

.thumbnail {
  cursor: pointer;
  margin-bottom: 16px;
  width: 170px;
  height: 138px;
  background: #F5F5F5;
  border-radius: 4px;
}

.selectedThumbnail {
 
  cursor: pointer;
  margin-bottom: 16px;
  
  width: 170px;
  height: 138px;
  background: #F5F5F5;
  border-radius: 4px ;
  border: 1px solid blue;
}

.thumbnailImage {
  width: 122px;
  height: 106px;
  padding-top: 16px;

}





@media (max-width: 1000px) {
  .thumbnail {
    width: 150px;
    height: 112px;
  }
  .selectedThumbnail {
    width: 150px;
    height: 112px;
  }
  .mainImage{
    width: 500px;
    height: 200px;
  }

  .thumbnailImage {
    width: 142px;
    height: 106px;
  
  }

  .mainThumbnail {
    width: 300px;
    height: 500px;
  }

}

@media (max-width: 600px) {
  .thumbnail {
    width: 90px;
    height: 112px;
  }
  .selectedThumbnail {
    width: 90px;
    height: 112px;
  }
  .mainImage{
    width: 400px;
    height: 200px;
  }

  .thumbnailImage {
    width: 122px;
    height: 106px;
  
  }

  .mainThumbnail {
    width: 230px;
    height: 500px;
  }

}

