 
.content {
    margin-top: 15em;
    margin-bottom: 4em;
    padding-left: 24px;
    padding-right: 24px;
    
}
.container{
    margin: 60px 100px;
}
.products_title {
    font-size: 36px;
    margin-left: 12px;
}
.gridContainer {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    max-width: 1170px;
    height: 600px;
    flex: none;
    order: 1;
    flex-grow: 0;
    

}

.buyButton{
    width: 81px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 2;
    flex-grow: 0;
}


.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
     gap: 38px;
    width: 570px;
    height: 600px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

  /* image 1 */
  .left {
    width: 570px;
    height: 600px;
    background: #000000;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.mainImage{
    position: absolute;
    width: 426px;
    height: 501px;
    padding-left: 53px;
    padding-top: 91px;
    background:  black;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.mainBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 242px;
    height: 122px;
    padding-left: 32px;
    padding-top: 446px;
}
.mainProductName{
    width: 166px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.mainProductDescription{
    width: 242px;
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/* for image 2 */

.rightTop {
    width: 570px;
    height: 284px;
    background: #0D0D0D;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.secondaryBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 255px;
    height: 122px;
    padding-left: 24px;
    padding-top: 138px;
}

.secondaryImage {
    position: absolute;
    width: 432px;
    height: 284px;
    padding-left: 138px;
}

.secondaryProductName{
    width: 255px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.secondaryProductDescription{
    width: 255px;
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.rightBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 570px;
    height: 270px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* image 3 */
.rightBottomLeft{
    width: 270px;
    height: 284px;
    background: #000000;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.leftSmallBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 191px;
    height: 85px;
    padding-left: 24px;
    padding-top: 175px;
}
.leftSmallImage {
    position: absolute;
    width: 190px;
    height: 221px;
    padding-left: 40px;
    padding-top: 31px;
}
.leftSmallProductName{
    width: 114px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.leftProductDescription{
    width: 191px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    flex: none;
    order: 1;
    flex-grow: 0;
}


/* for image 4 */

.rightBottomRight { 
    width: 270px;
    height: 284px;
    background: #000000;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.rightSmallBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 191px;
    height: 85px;
    padding-left: 24px;
    padding-top: 175px;
}


.rightSmallImage {
    position: absolute;
    width: 201px;
    height: 203px;
    background:  black;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 38px;
    padding-left: 34px;
}

.rightSmallProductName{
    width: 104px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.rightProductDescription{
    width: 191px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px; 
    color: #FAFAFA;
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media (max-width: 1000px ) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .gridContainer {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        
    }
 
   
}
