.root {
   
    height: 400px;  
   width: 892px;
    margin-top: 45px;
    margin-left: 10px;
    border-radius: 0px;
    overflow: hidden;
    background-color: black;
  }
  
.carousel {
    height: 100%;
    width: 100%;
}
  
.slideTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 190px;
  height: 49px;
  left: 64px;
  top: 58px;
}
.buyButton {

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  color: white;
  position: absolute;
  width: 113px;
  height: 28px;
  left: 67px;
  top: 320px;
}

.arrowIcon{
  width: 24px;
height: 24px;
color: white;
flex: none;
order: 1;
flex-grow: 0;
}
  
.slideImage {
    height: 344px;
    width: 496px;
    float: right;
    top: 0px;
    border-radius: 0px;
    object-fit: cover;
  }

.slideDescription{
  position: absolute;
  width: 294px;
  left: 64px;
  top: 127px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: white;
  letter-spacing: 0.04em;
}

@media (max-width: 768px) {
  .root {
    height: 700px;
  }
  .slideContainer {
    display: flex;
    flex-direction: column;
  }

  .slideImage {
    width: 100%;
    height: auto;
    float: none;
    margin-bottom: 16px;
  }

  .slideContent {
    position: static;
    width: 100%;
  }

  .slideTitle {
    position: static;
    width: 190px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .slideDescription {
    position: static;
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  
  .buyButton{

    position: static;
    width: 113px;
    height: auto;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-left: auto;
    margin-right: auto;
  }

}